*{
    box-sizing: border-box;
}


html{
    background: skyblue;
    height: 100%;
    font-family: sans-serif;
   
}

body{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    margin: 20px;
    width: 100px;
    height: 100px;
}

h1{
    font-size: 60px;
    color: white;

    /* code obtained from https://css-tricks.com/adding-stroke-to-web-text/ */
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

p{
    font-size: 20px;
    text-align: center;
    color:black;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}